:root {
  --color-primary: #53e8b9;
  --color-secondary: #ee267a;
  --color-accent: #e8c50e;
  --color-headings: #ffffff;
  --color-body: #ffffff;
  --color-body--dark: #101010;
  --color-border: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--color-body--dark);
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #ffffff;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--color-body--darker);
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: bold;
}

/* Icons */

.icon-social {
  height: 48px;
  width: 48px;
}

.icon-company {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 30px;
}

/* Buttons */

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  border: 2px solid var(--color-body);
  color: var(--color-body);
  background-color: transparent;
  text-decoration: none;
}

.btn:hover {
  border: 2px solid var(--color-body);
  color: var(--color-body--dark);
  background-color: var(--color-body);
}
