:root {
  --color-primary: #53e8b9;
  --color-secondary: #ee267a;
  --color-accent: #e8c50e;
  --color-headings: #ffffff;
  --color-body: #ffffff;
  --color-body--dark: #101010;
  --color-border: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #ffffff;
}

html {
  font-size: 62.5%;
  background-color: var(--color-body--dark);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-body--darker);
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

header.scrolled {
  background-color: #ffffff;
}

section.hero {
  margin: 100px 0 0 0; 
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.8rem;
    margin: 0;
  }
}
@media screen and (min-width: 1068px) {
  h1 {
    font-size: 10rem;
  }
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: bold;
}

p {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Icons */

.icon-social {
  height: 48px;
  width: 48px;
  margin-right: 20px;
}
.icon-company {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 30px;
}

/* Buttons */

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem 6rem;
  border: 2px solid var(--color-body);
  color: var(--color-body);
  background-color: transparent;
  text-decoration: none;
}

.btn--text-large {
  font-size: 2rem;
}

.btn:hover {
  border: 2px solid var(--color-body);
  color: var(--color-body--dark);
  background-color: var(--color-body);
}

/* Speaker Profiles */

/* .speakers {
  overflow: hidden;
} */
.speaker-profile-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 500px) {
  .speaker-profile-wrap {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.speaker {
  max-height: 250px;
  max-width: 250px;
  margin-bottom: 2rem;
}

.speaker-image {
  max-height: 250px;
  max-width: 250px;
}

.pink-yellow {
  background-image: linear-gradient(#ee267a, #e8c50e);
}

.blue-purple {
  background-image: linear-gradient(#0015d5, #57009c);
}

.light_green-blue {
  background-image: linear-gradient(#73ffde 20%, #0d25ff);
}

.speaker__name {
  font-size: 2.4rem;
  margin: 0;
}

.speaker__title {
  font-size: 1.6rem;
  margin: 0;
}

.speaker__info-wrap {
  margin-bottom: 2rem;
}

.speaker__info {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .speaker__info {
    text-align: left;
  }
}
/* grids */

.grid {
  display: grid;
}

.about-grid {
  row-gap: 4rem;
}

@media screen and (min-width: 500px) {
  .grid-cols--4 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .grid-cols--2 {
    grid-template-columns: 25% 75%;
    grid-gap: 3rem;
  }
  .grid-cols--4 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
}

@media screen and (min-width: 1100px) {
  .grid-cols--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}

.green-black {
  background-image: linear-gradient(rgba(156, 251, 222, 0.2) 10%, transparent);
}

.blue-black {
  background-image: linear-gradient(rgba(26, 188, 254, 0.3) 5%, transparent);
}

.white-black {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 10%, transparent);
}

.agenda__heading {
  color: var(--color-primary);
  margin: 4.8rem 0;
}

.agenda__heading--blue {
  color: #10baff;
  margin-bottom: 4.8rem 0;
}

.container-padding {
  padding: 4rem 3rem;
}

/* Footer */
.footer {
  padding: 4.8rem 0;
  border-top: 2px solid #ffffff;
  margin-top: 8rem;
}
.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  .footer-items {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.social-footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 1100px) {
  .social-footer-wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
}

.social-icons-caption {
  margin-right: 3rem;
}

/* Navigation */
.list {
  list-style: none;
  padding: 0;
}

.nav {
  background-color: var(--color-body--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.8rem 2rem;
}

.nav__list {
  width: 100%;
  margin: 0;
  align-items: center;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222222;
}

.nav__item > a {
  color: var(--color-body);
}

.nav__item > a:hover {
  color: var(--color-primary);
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__item {
    border-bottom: none;
  }

  .nav__item + .nav__item {
    margin-left: 2rem;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }

}

@media screen and (max-width: 1000px) {
  .hero-square {
    display: none;
  }
}

/* Hero */

.hero {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.date {
  font-size: 2.4rem;
  margin: 4.8rem 0;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero-text {
  margin-bottom: 4rem;
}

.section__heading {
  font-weight: 600;
  font-size: 4.8rem;
  margin: 4rem 0;
}
.img {
  max-width: 600px;
}

.image-wrap {
  overflow: hidden;
}

@media screen and (min-width: 760px) {
  .about-grid {
    grid-template-columns: 40% 55%;
    gap: 4rem;
  }
  .image-wrap {
    display: flex;
    justify-content: flex-end;
  }
}

/* About */

.about {
  padding: 3rem 0;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 8rem 0;
  }
}

@media screen and (min-width: 1100px) {
  .about {
    padding: 16rem 0 8rem;
  }
}

/* Agenda */

.agenda {
  padding: 4rem 0;
}

/* Register */
.form {
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 3.2rem;
  max-width: 600px;
  position: relative;
}

input {
  padding: 1rem;
}
.input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.small {
  width: 32px;
  width: 32px;
}

.nav {
  position: relative;
}
.hero-square {
  position: absolute;
  top: 0;
  left: 15%;
}

.hero {
  position: relative;
}

.hero-triangle {
  position: absolute;
  left: 0;
  bottom: 20%;
}

.hero-circle {
  position: absolute;
  right: 0;
}

.triangle-form {
  position: absolute;
  right: -25%;
  top: -25%;
}

.triangle-form__image {
  width: 75%;
  height: 75%;
}

.square-form {
  position: absolute;
  right: -65%;
  top: 10%;
}

.square-form__image {
  width: 65%;
  height: 65%;
}

.circle-form {
  position: absolute;
  right: -55%;
  top: -45%;
}

.circle-form__image {
  width: 75%;
  height: 75%;
}
